<%= form_for(@feed) do |f| %>
  <% if @feed.errors.any? %>
    <div class="error-explanation">
      <h2>Fix <%= pluralize_errors(@feed.errors) %> in order to save this feed:</h2>

      <ul>
        <% @feed.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :url %>
    <%= f.text_field :url %>
  </div>
  <div class="field checkbox">
    <%= f.check_box :public_stats %>
    <%= f.label :public_stats, "Make statistics page publicly accessible" %>
  </div>
  <div class="field checkbox">
    <%= f.check_box :public_counts %>
    <%= f.label :public_counts, "Make download counts visible to everyone" %>
  </div>
  <div class="actions">
    <%= f.submit %> or <%= link_to 'Cancel', feeds_path %>
  </div>
<% end %>
