<h1>Statistics for <%= @feed.title %></h1>

<% @report.properties.each do |property_title, property| %>
  <h2><%= property_title %></h2>
  
  <% stats = @feed.statistics.where(property: property) %>
  <table border>
    <tr>
      <th></th>
      <% @report.months.each do |year, month| %>
        <th><%= "#{month}/#{year}" %></th>
      <% end %>
    </tr>
    <% @report.values_for_property(property).each do |value_title, counts| %>
      <tr>
        <td><%= value_title %></td>
        <% counts.each do |count| %>
          <td><%= count %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
<% end %>
