<h1><%= @feed.title %> feed statistics</h1>

<% @report.reports.each_with_index do |report_title, i| %>
  <section class="report">
    <h2><%= report_title %></h2>

    <% if report_title == "Total downloads" %>
      <p class="info">Only requests that include system profile info are included (submitted once
        a week on average and only for users who explicitly agreed).</p>
    <% end %>

    <nav>
      <a href="#" data-range="all" class="selected">All data</a>
      <a href="#" data-range="year">Last year</a>

      <% unless report_title == "Total downloads" %>
        <a href="#" data-range="month">This month</a>

        <span class="button">
          <%= check_box_tag "denormalize-#{i}", '1', false, class: 'denormalize' %>
          <%= label_tag "denormalize-#{i}", 'Show absolute amounts' %>
        </span>
      <% end %>
    </nav>

    <canvas></canvas>

    <script type="application/json">
      <%== @report.data_for_report(report_title).to_json %>
    </script>

    <div class="legend"></div>
  </section>
<% end %>
