<h1><%= @feed.title %> feed statistics</h1>

<% @report.reports.each_with_index do |report, i| %>
  <section class="report">
    <h2><%= report[:title] %></h2>

    <% if report[:is_downloads] %>
      <p class="info">Only requests that include system profile info are included (submitted once
        a week on average and only for users who explicitly agreed).</p>
    <% end %>

    <nav>
      <%= link_to 'All data', '#', data: { range: 'all' }, class: ('selected' if report[:initial_range] == 'all') %>
      <%= link_to 'Last year', '#', data: { range: 'year' }, class: ('selected' if report[:initial_range] == 'year') %>

      <% unless report[:is_downloads] %>
        <%= link_to 'This month', '#',
              data: { range: 'month' },
              class: ('selected' if report[:initial_range] == 'month') %>

        <% if @include_counts %>
          <span class="button">
            <%= check_box_tag "denormalize-#{i}", '1', false, class: 'denormalize' %>
            <%= label_tag "denormalize-#{i}", 'Show absolute amounts' %>
          </span>
        <% end %>
      <% end %>
    </nav>

    <canvas
      data-range="<%= report[:initial_range] %>"
      data-normalized="<%= !report[:is_downloads] %>"
      data-labels="<%= !report[:is_downloads] %>">
    </canvas>

    <script type="application/json">
      <%== report.to_json %>
    </script>

    <div class="legend"></div>
  </section>
<% end %>

<footer>
  Stats generated using
  <%= link_to "Sparkler #{Sparkler::Application::VERSION}", 'https://github.com/mackuba/sparkler' %>
</footer>
