<h1>Edit account</h1>

<%= form_for(@user, url: user_path) do |f| %>
  <% if @user.errors.any? %>
    <div class="error-explanation">
      <h2>Fix <%= pluralize_errors(@user.errors) %> in order to save your account:</h2>

      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions">
    <%= f.submit 'Update Account' %> or <%= link_to 'Cancel', feeds_path %>
  </div>
<% end %>
