<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Sparkler statistics</title>

    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <nav class="left">
      <% unless params[:controller] == 'feeds' && params[:action] = 'index' %>
        <%= link_to "< Home", feeds_path %>
      <% end %>
    </nav>

    <%= yield %>
  </body>
</html>
